@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
.App{
height: 100%;
width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
 
 }

 .header{
   width: 100%;
   font-family: 'Explora', cursive;
   font-size: 18px;
   text-shadow: 5px;
   text-decoration: solid;
   color: white;
   background-color: black;
   text-align: center;
   
 }
 .footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   background-color: black;
   color: white;
   
 }
 header h1{
   margin: 20px;
   text-align: center;
 }
 .home{
   height: 60%;
   display: flex;
   align-content: center;
   align-items: center;
   margin: 50px;
 }

.countries, .countrieslist{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.countrieslist button{
   width: 130px;
   margin-left: 70px;
   font-size: 30px;
   background-color:#0a0a23;
   color: #fff;
   border:none;
   border-radius:10px;
   box-shadow: 0px 0px 2px 2px rgb(0,0,0);
   
}

 .countries img, .restaurant img{
 
     height: 300px;
     width: 300px;
     border-radius: 250px;
 }
 
 span{
 
    text-decoration: underline;
 }
 
 form{
 
    display: flex;
    
    flex-direction: column;
    gap: 5px;
 }
 
 input{
 
    height: 80px;
    width: 200px;
    font-size: larger;
 }
 
 textarea{
 
    font-size: larger;
 }
 
 
 
 @media screen and (min-width:992px) {
 
  .App{
   height: 100%;
   width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     gap: 50px;
    
    }

  .header{
   text-align: left;
   padding: 10px;
  
  }
  .footer{
   width: 100%;
   background-color: black;
   color: white;
   display: flex;
   flex-direction: row;
   padding: 10px;
  
 }

 
 .countries, .restaurant{
    
     display: flex;
     flex-direction: row;
     align-items: center; 
     gap: 120px;
     margin-right: 40px;
     margin-left: 40px;
     
  }
  .countrieslist{
 
     display: flex;
     flex-direction: column;
     
  }
 
  .countrieslist button{
 text-align: center;
     width: 80px;
     margin-left: 120px;
   font-size: 10px;
   background-color:#0a0a23;
   color: #fff;
   border:none;
   border-radius:10px;
   box-shadow: 0px 0px 2px 2px rgb(0,0,0);
     
  }
  .countrieslist button:hover {
   text-align: center;
   font-size: 20px;
   width: 100px;
   background-color:#002ead;
   transition: 0.7s;
}
 .countries img, .restaurant img {
 
     height: 300px;
     width: 300px;
     border-radius: 250px;
 }
 
 .restaurantlist{
 
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
 
 
 
 .dishes{
 
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
 }
 
 .dishes img{
 
    height: 300px;
    width: 300px;
    border-radius: 100px;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
 }

 .disheslist{

   display: flex;
   flex-direction: column;
   margin: 30px;
   justify-content: space-around;
   align-items: center;
  
 }

 .reviews{

   display: flex;
   flex-direction: column;
   gap: 10px;
   font-size: 20px;
 }

 .reviewlist{
   display: flex;
   flex-direction: row;
   align-items: center;
   
 }
ul{
   list-style: none;
   display: flex;
   flex-direction: column;
}
form input{
   height: 30px;
   width: 145px;
}
 
 }

